body{
    background-color: black;
    color: bisque;
    margin: 0px;
}

header{
    border-bottom: double 4px rgb(153, 58, 231);
    padding: 25px;
    font-size: 30px;
    color: rgb(153, 58, 231);
}
h1{
 border-bottom: double 4px rgb(153, 58, 231);
    padding: 25px;
    font-size: 30px;
    color: rgb(58, 182, 231);

}
h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}
section{
    background-color: rgb(145, 6, 115);
}